{
  "extends": ["standard", "eslint:recommended"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    "quotes": ["error", "single"],
    "no-debugger": "off",
    "curly": "warn",
    "no-console": "warn",
    "no-prototype-builtins": "warn",
    "no-multi-spaces": "warn",
    "space-before-function-paren": [
      "error",
      {
        "anonymous": "never",
        "named": "never",
        "asyncArrow": "always"
      }
    ]
  }
}
