node_modules/
.DS_Store

# Editor directories and files
.idea
.vscode

# Tests and coverage
spec/test-env.js
coverage/lcov-report
.nyc_output

# npm lib
lib

# dev environmet
.env.local
examples/apiKey.js
